{% extends "base.html" %}
{% load i18n %}
{% load static %}

<!-- Extra CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ canonical_url }}" />
    {{ block.super }}  <!-- Include any other head tags -->
{% endblock %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}
<div class="burlesque-container">
<!-- Hero Section -->
<section class="hero">
        <!-- Image on the right -->
    <div id="hero-image" class="hero-image" role="img" aria-label="{% trans 'Dancer Women Image' %}">
        <img 
        src="{% static 'images/burlesque_hero.png' %}" 
        alt="{% trans 'Dancer women performing on stage' %}" 
        loading="lazy"
        >
    </div>

    <!-- Text on the left -->
    <div class="overlay">
        <div class="welcome-heading">
            <h1 class="welcome">Welcome to the world of Burlesque</h1>
            <p class="hero-text mt-3">{% trans "Bienvenue sur le site dédié à 100% au monde du spectacle burlesque, cabaret, queer, drag, etc...." %}</p>
            <span class="typewriter nocaret"></span>
        </div>
    </div>
    <div class="vector-65"><i class="fas fa-sharp fa-thin fa-angles-left fa-2xl" style="color: #ffffff;"></i></div>
    <div class="vector-75"><i class="fas fa-sharp fa-thin fa-angles-right fa-2xl" style="color: #ffffff;"></i></div>
</section>
<!-- Map Section -->
<section class="show-finder-section py-5">
    <div class="container">
      <h2 class="section-title mb-4 d-flex align-items-center">
        Quand souhaitez vous voir un spectacle ?
        <span class="divider-line ml-2 d-flex align-items-center">
          💠<span class="line flex-grow-1 ml-2"></span>
        </span>
      </h2>
      <div class="row">
        <!-- Left Form Column -->
        <div class="col-md-5">
          <form>
            <!-- Date Picker -->
            <div class="form-group">
              <label for="date">{% trans "Sélectionnez la ou les dates" %}</label>
              <div class="input-group">
                <input type="date" id="date" class="form-control map-form" placeholder="{% trans 'Aujourd’hui' %}">
                <div class="input-group-append">
                </div>
              </div>
            </div>
  
            <!-- Spectacle Type -->
            <div class="form-group">
              <label for="type">{% trans "Choisissez le type de spectacle" %}</label>
              <select id="type" class="form-control map-form">
                <option selected>Cabaret</option>
                <option>Drag</option>
                <option>Burlesque</option>
                <option>Queer</option>
              </select>
            </div>
  
            <!-- City Input -->
            <div class="form-group">
              <label for="city">{% trans "Dans quelle ville ?" %}</label>
              <input type="text" id="city" class="form-control map-form" placeholder="{% trans 'Entrez la ville' %}">
            </div>
  
            <!-- Price Range -->
            <div class="form-group">
              <label>{% trans "Le prix" %}</label>
              <input type="range" class="custom-range" min="0" max="100" step="1">
              <div class="d-flex justify-content-between">
                <span>€0</span>
                <span>€100+</span>
              </div>
            </div>
  
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3 map-btn d-block mx-auto map-btn">
              {% trans "Découvrir" %}
            </button>
          </form>
        </div>
  
        <!-- Right Map Column -->
        <div class="col-md-7">
          <!-- Map -->
          <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9999999999995!2d2.3522219!3d48.856614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671c2f1b8f1b1%3A0x8c017bf383d54b38!2sParis%2C%20France!5e0!3m2!1sen!2sus!4v1696570623345!5m2!1sen!2sus"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                title="Map of Paris, France">
            </iframe>
        </div>
        </div>
      </div>
    </div>
  </section>  
    
</div>
{% endblock %}
