{% extends "base.html" %}
{% load i18n %}
{% load static %}

<!-- Extra CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ canonical_url }}" />
    {{ block.super }}  <!-- Include any other head tags -->
{% endblock %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="burlesque-container">
<section class="hero">
        <!-- Image on the right -->
    <div id="hero-image" class="hero-image" role="img" aria-label="{% trans 'Dancer Women Image' %}">
        <img 
        src="{% static 'images/burlesque_hero.png' %}" 
        alt="{% trans 'Dancer women performing on stage' %}" 
        loading="lazy"
        >
    </div>

    <!-- Text on the left -->
    <div class="overlay">
        <div class="welcome-heading">
            <h1 class="welcome">Welcome to the world of Burlesque</h1>
            <p class="hero-text mt-3">{% trans "Bienvenue sur le site dédié à 100% au monde du spectacle burlesque, cabaret, queer, drag, etc...." %}</p>
            <span class="typewriter nocaret"></span>
        </div>
    </div>
    <div class="vector-65"><i class="fas fa-sharp fa-thin fa-angles-left fa-2xl" style="color: #ffffff;"></i></div>
    <div class="vector-75"><i class="fas fa-sharp fa-thin fa-angles-right fa-2xl" style="color: #ffffff;"></i></div>
</section>
    
    
</div>
{% endblock %}
