/* General container */
.burlesque-container {
  width: 1440px;
  height: auto;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  border: none;
  color: #000000;
  font-family: "Afacad", sans-serif;
}

/* Loading Overlay */
body, html {
    height: 100%;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 1;
    transition: opacity 1s ease;
}

.loading-logo {
    max-width: 400px;
}

/* Header styles */
header {
  background-color: #FFFFFF;
  font-family: "Playfair Display", serif;
  color: #C80757;
  padding: 0.3em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid rgba(237, 169, 204, 0.5);
}

.nav-background {
  padding: 5px 0;
}

.main-logo-link {
  color: #000;
  text-decoration: none;
  max-height: 100px;
}

.logo {
    position: absolute; /* Position the logo absolutely */
    margin-top: 0%;
    z-index: 10000; /* Ensure the logo is above the navbar */
}

.logo-image {
    max-height: 100px;
    width: auto; /* Maintain aspect ratio */
}

.form-control {
  border-radius: 0;
  box-shadow: none;
}

#user-name {
  color: #C80757;
}

#user-name:hover {
  color: #000000;
  text-decoration: underline, #C80757;
}

.nav-icon {
  color: #C80757;
}

.nav-icon:hover {
  color: #a9a9a9;
  text-decoration: none;
}

/* Dropdown menu styles */
.dropdown-menu {
  background-color: #ffffff; /* Ensure the dropdown has a background color */
  border: 1px solid #ddd; /* Add a border if needed */
  border-radius: 0.25rem; /* Adjust border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for better visibility */
}

.dropdown-item {
  color: #C80757; /* Ensure dropdown items have text color */
}

.dropdown-item:hover {
  background-color: #a9a9a9; /* Change background color on hover */
  color: #C80757; /* Ensure text color remains consistent */
}

/* Ensure that dropdown toggle is properly displayed */
.dropdown-toggle::after {
  display: none; /* Remove the default caret if not needed */
}

#language-options {
  color: #C80757;
}

.dropdown-item:active {
  background-color: #a9a9a9; 
}

.navbar-nav a {
  color: #C80757;
  text-decoration: none;
  font-size: large;
}

.navbar-nav a:hover {
  text-decoration: overline;
}

/* Icon styles */
.icon {
  display: inline-block;
  color: #C80757;
}

.icon:hover {
  color: #a9a9a9;
}

@media (max-width: 992px) {
  .d-lg-flex {
      display: block !important;
  }

  .d-none.d-lg-flex {
      display: none !important;
  }
}

@media (max-width: 576px) {
  .logo-font {
      font-size: 1.5rem;
  }
}

/* Ensure dropdown menus are responsive */
@media (max-width: 992px) {
  .d-lg-flex {
      display: block !important;
  }

  .d-none.d-lg-flex {
      display: none !important;
  }
}

/* Ensure the logo scales on smaller screens */
@media (max-width: 576px) {
  .logo-image {
      max-height: 100px; /* Adjust as needed */
  }
}

/* Adjust dropdowns for mobile view */
@media (max-width: 768px) {
  .dropdown-menu {
      width: 100%;
      box-shadow: none;
  }
}

/* FOOTER */
.footer-text {
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.footer-cover {
    background-colour: white;
    padding: 2rem 0; /* Adjust padding as needed */
    position: relative;  /* Covering the sticky social buttons in case of overlapping */
    z-index: 1001;
}

/* Footer content layout */
footer .footer-content {
    width: 100%;
    max-width: 1200px; /* Adjust for desired maximum width */
    margin: 0 auto;
    padding: 0 2rem; /* Add some padding to the sides */
}

/* Ensure text is aligned to the left */
.text-left {
    text-align: left !important;
}

/* Column content adjustments */
.footer-logo {
    max-width: 100px; /* Set a reasonable width for the logo */
    height: auto; /* Ensure the height scales proportionally */
    margin-bottom: 20px; /* Add some spacing below the logo */
}

/* Padding for all columns */
.footer-content p,
.footer-content ul {
    margin: 0;
}

.footer-link{
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #C80757;
    text-decoration: none;
    padding-top: 1.5%;

}

.footer-link:hover {
    color: #C80757;
    text-decoration: overline;
}

.privacy {
  font-family: 'Afacad';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #C80757;
    text-decoration: none;
    padding-top: 1.5%;
}

.privacy:hover {
    color: #C80757;
    text-decoration: overline;
}

p.lilla a.email-link {
    text-decoration: none;
    color: inherit;
}

p.lilla a.email-link:hover {
    text-decoration: underline;
}

.all-rights {
  font-size: small;
}

/* Social media links styles */
.links {
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: none;
    position: relative;
}

footer a .icon {
    position: relative;
    color: #C80757;
    transition: .5s;
    z-index: 3;
}

.icon {
    color: #C80757;
    transition: .5s;
}

.icon:hover {
    color: white;
    transform: rotateY(360deg);
}